@charset "UTF-8";

:root{
  --cor1:#fbc500;
  --cor2:#7A6000;
  --cor3:#FBD54B;
  --cor4:#7A6825;
  --cor5:#C79C00;
  --cor6:#f1f0f0;
  --cor7:#222222;
  
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans',sans-serif;
  font-size: 62.5%;
}

body{
  margin: 0 ;
  width: 100%;
  background-color: #fafafa;
  color: var(--cor7);
  font-size: 1.6rem;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  width: 98%;
  margin: 2rem auto;
}
.logo{
width: 40rem;

}
.menu-li{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  
}
.menu-li li a{
  text-decoration: none;
  color: var(--cor7);
  font-size: 1.8rem;
  font-weight: 600;
  padding-top: 4rem;

}
.menu-li li a:hover{
  color: var(--cor1);
  border-top: 0.5rem solid #fbc500 ;
  
}
.nav-topo{
  display: flex;
  gap: 4rem;

}
.nav-cj{
  text-decoration: none;
  color: var(--cor7);
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--cor3);
  width: 18rem;
  height: 4rem;
  text-align: center;
  padding:.5rem;
  border-radius: .3rem;
}

.nav-cj:hover{
  background-color: #383838;
  color: #fafafa;
}
.hero{
  background-color: #fafafa;
  background-image: linear-gradient(rgba(34, 34, 34, 0.7),rgba(61, 61, 61, 0.7)),url(imagens/com\ oculos\ e\ jornal.jpg);
  height: 50rem;
  background-position: center;
  display: flex;
  flex-direction: column;align-items: center;
  gap: 6rem;
  color: var(--cor6);
  justify-content: center;
  background-size: cover;

  
}
.hero h2{
  color: var(--cor6);
  font-size:4.8rem;
  text-align: center;
  font-weight: 600;
  

}
.hero p{
  color: var(--cor6);
  font-size: 1.8rem;
  font-weight: 600;
  
}
.cf{
  background-color: rgba(128, 128, 128, 0.993);
  color: var(--cor6);
  padding: .5rem;
}
.botoes-hero{
  display: flex;
  align-items: center;
  gap: 3rem;
 padding-bottom:7rem;
  
}
/*agendamento*/
.agendamento{
  max-width: 110rem;
  background-color:#fafafa;
  margin: -5rem auto 0 auto;
  display: flex;
  box-shadow: 0px 0px 15px 5px rgb(0,0 , 0,.1);
  border-radius: .5rem;
 align-items: center;
  margin-bottom: 10rem;
  padding: 2rem;
}
.lado-img{
  width: 30%;
  background-color: var(--cor3);
  
  
}
.lado-img img{
 width: 65rem;
 margin-left: -6rem;
 margin-top: 5rem;
}
.lado-form h2{
 font-size: xx-large;
 padding: 0 4rem 0 10rem;
  
}
.agen-depois{
  display: none; 
 }

.op-ago{
  display: flex;
  gap: 1rem;
  color: var(--cor3);
  font-weight: 700;
  padding: 0 12rem;
}
.op-agen{
  display: flex;
  gap: 1rem;
  color: var(--cor7);
  font-weight: 700;
}
.org{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 0 5rem 25rem; 
}
.input-field{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  position: relative;

}
.input{
  border: none;
outline: none;
padding: 1rem;
border-radius: 1rem;
font-family: inherit;
box-shadow:  1px 3px 1px var(--cor3);
}
.input.botao.nav-cj{
  position: absolute;
  left: 15rem;
  top: 18rem;
  padding: auto;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size:1.8rem;
  font-weight: 700;
  width: 13rem;
  border-radius: .2rem;
 
 

}
/*como funciona*/
.como-funciona{
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
align-items: center;
padding-top: 10rem;
padding-bottom: 10rem;
gap: 2rem;
  
}
.como-funciona h2{
  font-weight: 700;
  font-size: 44px;
  
}
.como-funciona p{
  font-size: 14px;
  font-weight: 700;

}
.cf1{
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 20rem;
 
}
.icone{
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
}
.icon-car{
  position: relative;
}
.step-icon{
padding-top: 10rem;
position: relative;
}
.passo{
  position: relative;
}
.grid1{
  position: absolute;
  top: -70rem;
  left: -25rem;
}
.grid2{
 position: absolute;
 top: -55rem;
 right: -30rem; 
}
.grid3{
  position: absolute;
  top: -29rem;
  right: 45rem;
}
.grid4{
position: absolute;
top: -10rem;
right: -33rem;
  
}
.car1{
  position: absolute;
  top: -65rem;
  right: 17rem;
}
.car2{
  position: absolute; 
  margin-top: -50rem;
  right: 3rem;
}
.car3{
  position: absolute;
  margin-top: -26rem;
  right: 26rem;
}
.car4{
  position: absolute;
  margin-top:-7rem;
  right: -4rem;
}
/*tarifa*/
.tarifa{
  box-shadow: 0px 0px 15px 5px rgb(0,0 , 0,.1);
}
.tarifa h3{
  text-align: center;
  color: var(--cor3);
  font-weight: 700;
  padding-top: 5rem;
  
}
.tar{
  display: flex;
  gap:.5rem ;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}

.bairro{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10rem 8rem 5rem 8rem;
  gap: 5rem;
  
} 
.rs{
  display: grid;
  grid-template-columns: 70fr 30fr;
  border-bottom: 1px solid rgba(180 ,180 ,180 ,0.2);
  padding-bottom: 3rem;
}
.p-bairro p{
  font-size: rem;
}

.preco{
  color: var(--cor3);
  font-weight: 700;
  font-size: 20px;
}

.rs p{
  font-weight: 700;
  font-size: 16px;
}
/*carros*/
.carro h4{
  color: var(--cor3);
  text-align: center;
  margin-top: 5rem;
  padding: 1rem;
}
h5{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-top: .3rem;
}

.font-p{
  font-weight: 600;
  
}
.p-chev{
padding-top: .5rem;
}
.p-voy{
  padding: 1rem;
}
.carro{
  background-color: #ffffff;
 
}
.giro img{
  transform: scaleX(-1);
}
.onix{
  display: flex;
  gap: 10rem;
  margin-top: 10rem;
  justify-content: space-around;
}
.logochev{
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid rgba(34 ,34 ,34 ,0.2);
  margin-top: .5rem;
}
.logochev p{
text-align: center;
font-weight: 800;
font-size: 24px;

}

.box-chev{
  width: 38rem;
  height: 40rem;
  background-color: #fbc500;
  align-items: center;
  padding: .5rem 2rem .5rem 2rem;
  border-radius: .5rem;
}
.space{
  padding: 1rem;
}

.icon{
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
  justify-content: center;

}
.voy{
  margin-bottom: 1rem;
}
.wifi{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  height: 9rem;
  background-image: linear-gradient(to bottom right,#ffde82,  #ffe7a6);
  border-radius: .5rem;
  padding: .5rem;
  
}
.arcond{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  height: 9rem;
  background-image: linear-gradient(to bottom right,#ffde82,  #ffe7a6);
  border-radius: .5rem;
  padding: .5rem;
  
}
.arcond p{
  text-align: center;
}

.airbag{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  height: 9rem;
  background-image: linear-gradient(to bottom right,#ffde82,  #ffe7a6);
  border-radius: .5rem;
  padding: .5rem;
}
.logovoy{
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid rgba(34 ,34 ,34 ,0.2);
  padding: .5rem 0 ;
  
}
.logovoy p{
padding: 1.5rem 1rem 0 1rem ;
font-weight: 800;
font-size: 24px;
}
 

.box-voy{
  width: 38rem;
  height: 45rem;
  background-color: #fbc500 ;
  align-items: center;
  padding: 2rem;
  border-radius: .5rem;
}
.voy{
  display: flex;
  justify-content: space-around;
  
}
/*contato*/

.contato{
  max-width: 90rem;
  background-color:var(--cor6);
  width: 90rem;
  height: 43.9rem;
  box-shadow: 0px 0px 15px 5px rgb(0,0 , 0,.1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  
  
 } 
.chamaju{
  width: 30%;
  background-color: var(--cor3);
  position: relative;
  display: flex;
  column-gap: 10rem;
  align-items: center;
  border-radius: 0.5rem;
  
}
.contato{
  margin-bottom: 10rem;
}
.chamaju1{
  padding: 6rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.chamaju1 h2{
  color: var(--cor7);

}
.chamaju1 h3{
  font-size: 2rem;
  color: var(--cor3);
}
.chamaju img{
  width: 40rem;
  height: 40rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 7%;
  top: 15%;
  left: -25%;
  

}
/*footer*/

.end{
  width: 100%;
  height: 35rem;
  color: var(--cor6);
  background-color: var(--cor7);
  box-shadow: 0px 0px 15px 5px rgb(0,0 , 0,.1);
}
.endereco{
display: flex;
flex-direction: column;
justify-content: left;
gap: 2rem;

}
.logfooter img{
  width: 25rem;
  filter: grayscale(.9);
}
.logfooter{
  margin-left: 2rem;
}
.copy{
  font-size: 10px;
}
.menu-lifoo a{
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--cor6);
}
.menu-lifoo{
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: right;
  padding: 8rem 3rem 0 0;
}
.log-end{
  display: flex;
  flex-direction: row;
 gap: 10rem;
margin-bottom:1rem ;
}


